##XS1 DGX connector
NET DGX_1 LOC = P22;
NET DGX_2 LOC = P27;
NET DGX_3 LOC = P29;
NET DGX_4 LOC = P43;
NET DGX_7 LOC = P23;
NET DGX_8 LOC = P28;
NET DGX_9 LOC = P30;
NET DGX_10 LOC = P31;

##XS2 Pmod connector

NET PM_1 LOC = P8;
NET PM_2 LOC = P6;
NET PM_3 LOC = P3;
NET PM_4 LOC = P1;
NET PM_7 LOC = P7;
NET PM_8 LOC = P5;
NET PM_9 LOC = P2;
NET PM_10 LOC = P41;

##Onboard LEDs
NET LED_1 LOC = P21;
NET LED_2 LOC = P20;
NET LED_3 LOC = P19;
NET LED_4 LOC = P18;
NET LED_5 LOC = P32;
NET LED_6 LOC = P36;
NET LED_7 LOC = P37;
NET LED_8 LOC = P38;

##XS3 Test_Points Connector
NET TP_1 LOC = P12;
NET TP_2 LOC = P14;
NET TP_3 LOC = P39;
NET TP_4 LOC = P44;
NET TP_7 LOC = P13;
NET TP_8 LOC = P16;
NET TP_9 LOC = P40;
NET TP_10 LOC = P42;